<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storesale">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tienda"
        android:label="Store sale"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Storesale">
        <activity
            android:name=".ListProductActivity"
            android:exported="true" />
        <activity
            android:name=".EditProductActivity"
            android:exported="true" />
        <activity
            android:name=".AddProduct"
            android:exported="true" />
        <activity
            android:name=".session"
            android:exported="true" />
        <activity
            android:name=".registrese"
            android:exported="true" />
        <activity
            android:name=".inicio"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>